header{
	 background-color: gray;
	 padding: 1px;
    
}

hr{
    border-style: none;
}
.profile{ border-radius: 75%;
  	 display: block;
     margin-left: auto;
     margin-right:auto;
    	 
   }
.speacil{
	font-family: Tangerine;
	font-size: 100px;
	margin-block-end: 0em;
}   
#lp_pl{
	font-family: Inter;
     margin-block-start: 0em; }
#fstyle{
	font-family: Chakra Petch;
   }
footer{
	background-color: none;
	color: white;
	padding: 1px;
	text-align: center;  
}
.design_foot{
	border-radius: 75%;
	display: inline;
	margin: 20px;
}